*
!.gitignore
!.planning/
!.planning/**
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
!jest.config.ts
!prisma/
!prisma/**
prisma/dev.db
!src/
!src/**
!test/
!test/**
!.env.example
